[ req ]
default_bits = 4096
default_md = sha256
prompt = no
encrypt_key = no
distinguished_name = dn

[ grep11server ]
subjectAltName = DNS.1:localhost:9876,DNS.2:localhost
extendedKeyUsage = serverAuth

[ dn ]
O = IBM
OU = HPS
CN = hpvsgrep11
